<!DOCTYPE html>
<html  lang="<%= config.language %>">
  <head>
    <%- partial('partial/head') %>
  </head>
  <body>
    <header>
      <%- partial('partial/header') %>
    </header>
    <%- body %>
    <footer>
      <%- partial('partial/footer') %>
    </footer>
  </body>
</html>