<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" href="<%- url_for('img/favicon.ico') %>" type="image/x-icon" />
<%- css('css/fonts.css') %>
<%- css('css/index.css') %>
<%- css('css/header.css') %>
<%- css('css/paginator.css') %>
<%- css('css/footer.css') %>
<%- css('css/archive.css') %>
<%- css('css/post.css') %>
<%- css('css/markdown.css') %>

<title><%= config.author %></title>
